* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f7f1e3;
}
.header {
    width: 100%;
    height: 100px;
    background: #d1ccc0;
    padding: .5%;
    
}
    .header .box {
        width: 100%;
        height: 100%;
        background: #f7f1e3;
        padding: 23px;
        float:left;
        border-radius: 40px;
    }
    .header li {
        float: left;
        background: none;
        list-style: none;
    }
        .header li a {
            padding: 0 10px;
            display: inline-block;
            text-decoration: none;
            background: none;
            font-size: xx-large;
            font-weight: bolder;
            color: #40407a;
        }
        .header li  :hover {
            color: #ff5252;
        }
.footer {
    width: 100%;
    height: 200px;
    background: #d1ccc0;
    padding: 0.5%;
}
    .footer .box {
        width: 100%;
        height: 100%;
        background: #d1ccc0;
        padding: 0.5%;
        align-items: center;
        border-radius: 10px;
    }
        .footer .box .right {
            width: 34.5%;
            height: 100%;
            float: right;
            background: #84817a;
            border-radius: 20px;
            padding: 2%;
        }
        .footer .box .left {
            width: 64.5%;
            height: 100%;
            float: left;
            padding: 10px;
            background: #84817a;
        }
.box {
    width: 100%;
    height: 963px;
    background: #d1ccc0;
    padding: 1%;
    align-items: center;
}
    .box .right {
        width: 34.5%;
        height: 100%;
        float: right;
        background: #f7f1e3;
        border-radius:20px;
        padding: 2%;
    }
        .right .myform {
            width: 100%;
            height: 80%;
            
            background: #f7f1e3;
        }
.myform input[type=text] {
    background: #ffffff;
    width: 49.625%;
    height: 20%;
    padding: 2%;
    font-size: 200%;
}
.myform input[type=radio] {
    background: #ff0000;
    width: 100%;
    height: 20%;
    padding: 2%;
    font-size: 100%;
}

.myform select {
    background: #ffffff;
    width: 100%;
    height: 20%;
    padding: 2%;
    font-size: 200%;
    margin : 5px 0  0 0;

}
    .myform input[type=email] , input[type=tel]{
    background: #ffffff;
    width: 100%;
    height: 70px;
    margin : 5px 0  0 0;
    padding: 2%;
    font-size: 200%;
}
.right .info {
    width: 100%;
    height: 20%;
    background: #f7f1e3;
}
    .box .left {
        width: 64.5%;
        height: 100%;
        float: left;
        padding:10px;
        background: #f7f1e3;
        background-image: url("box-bg.jpg");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        background-blend-mode:overlay;
        border-radius: 20px;
    }
    .left .box2{
        width:100%;
        height:40%;
    }
        .left img {
            width:100%;
            float: left;
            border-radius: 0;
            background: #f7f1e3;
        }
        .left .right h1 {
            width: 100%;
            height: 33%;
            color: #2d3436;
            background: #f7f1e3;
            font-size: 400%;
            font-weight :bold;
        }
        .left .right p {
            width: 100%;
            height: 66%;
            color: #2d3436;
            background: #f7f1e3;
            font-size:200%;
        }
.left .right {
    width: 80%;
    height: 100%;
    float: right;
    padding: 10px;
    background: #f7f1e3;
}
.left .left {
    width: 20%;
    height: 100%;
    float: left;
    background: #f7f1e3;
    padding: 2%;
}